
/* Create general styles of project  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Create style of body */
body{
    background: #DAF0FF;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

/* Create style of div and your dependece  */
div{
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 40px;
    width: 375px;
    height: 568px;

}