
div {
    background:  #7d2ae8;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}

header{
    background: red;
    grid-column: 1 / 3 ;
}

main{
    background: blue;

}

aside{
    background: yellow;
}

footer{
    background: orange;
}