
/* Create general style of project */
* {
    margin: 0; /**/
    padding: 0;
    box-shadow: none;
}

body{
    height: 100vh; /*Define view height */
    background-color: #5409DA;
    display: flex;
    align-items: center; /*Só funciona se estiver com display flex*/
    justify-content: center; /*Só funciona se estiver com display flex*/
} 

.navBar{
    position: relative;
    height: 120px;
    width: 500px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    & ul {
        position: relative;
        display: flex;
        gap: 30px;

        & li {
            position: relative;
            list-style: none;

            & a {
                position: relative;
                height: 120px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                & i {
                    color: #7d2ae8;
                    font-size: 40px;
                    position: absolute;
                }

                & .activeIcon{
                        opacity: 0;
                        transition: all 0.6s ease;
                        transition-delay: 0.2;
                    }
            }
        }

        & .activeList a i{
            opacity: 1;
        }

        & .indicator {
            position: absolute;
            bottom: -19px;
            left: 13px;
            width: 25px;
            height: 36px;
            background-color: #5409DA;
            border-radius: 50px;
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        & .indicator::before {
                content: "";
                position: absolute;
                left: -15px ;
                bottom: 53%;
                height: 22px;
                width: 20px;
                background: #fff;
                border-bottom-right-radius: 20px;
                box-shadow: 0 10px 0 #5409DA;
            }

        & .indicator::after {
                content: '';
                position: absolute;
                right: -15px;
                bottom: 53%;
                height: 22px;
                width: 20px;
                background-color: #fff;
                border-bottom-left-radius: 20px ;
                box-shadow: 0 10px 0 #5409DA ;
        }

    }
}